
.logo{
   padding: 0;
    margin: 1rem;
    height: 33px;
    width: 132px;
    max-width: 8.25rem;
}


.navBar{
  display: block;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #070e27;
  border-bottom: 1px solid hsla(0,0%,100%,.16);
  padding: 0;
  position: relative;
  z-index: 1001;
  padding-bottom: 2rem;
}
@media (min-width:768px){
  .navBar{
    display: flex;
    flex-direction: row;
    padding: 0;
   
  }
}
a{
  color: #ffffff;
  cursor: pointer;
  
}
a:hover{
   border-bottom: 1px solid  #00e;
  transition: color .2s ease-out,opacity .2s ease-out;
  min-height: 25px;
  text-decoration: none;
}
.links{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 3rem;
  text-align: center;
}
@media (min-width:768px){
  .links{
    flex-direction: row;
  }
}
.nombre{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
@media(min-width:768px){
  .nombre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
}
.filter{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
}
@media(min-width:768px){
  .filter{
    display: flex;
    flex-direction: row;
  }
}
.cards{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 1px solid green;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(15,28,80,.86);
}
.cards:hover{
  background-color: rgba(208, 241, 241, 0.911);
  
  cursor: pointer;
  opacity: .7;
}

@media(min-width:768px){
  .cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 1px solid green;
    padding: 1rem;
    border-radius: 5px;
  }
}
p{
  font-weight: bold;
  font-size: 1rem;
}

h1{
  text-align: center;
  color: rgb(29, 243, 136);
  font-weight: 600;
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 1.2rem;
}
label{
    font-weight: bold;
    color: rgb(29, 243, 136);
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-family: Lato;
    border-radius: 2px;
    text-align: center;
}



option{
  font-size: 1rem;
  color: #00e;
text-align: center;
}


@media(min-width:768px){
  p{font-size: 1.4rem;}
  h1{font-size: 1.6rem;}
  label{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
select{
  border-radius: 3px;
  font-size: 1.4rem;
  font-family: Lato;

}
select:hover{
  
  color: rgb(29, 243, 136);
}
.cuerpo{
  background-color: #f6f8fd;
  }